:root { 
  /* color variable setyp */
  --clr-primary-font: hsl(215, 51%, 70%);
  --clr-primary-hover: hsl(178, 100%, 50%);

  --clr-nuetral-main-background: hsl(217, 54%, 11%);
  --clr-nuetral-card-background: hsl(216, 50%, 16%);
  --clr-nuetral-card-line: hsl(215, 32%, 27%);
  --clr-nuetral-font-secondary: hsl(0, 0%, 100%);
  /* font weight variable setup */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 600;
  /* font variable set up */
  --ff-regular: 'Outfit', sans-serif;

} 

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* set body height */
html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: var(--clr-primary-font);
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* add context for items that wont be picked up by screen reader */
.visually-hidden:not(:focus):not(:active) {
  clip: (0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  background-color: var(--clr-nuetral-main-background);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline:2rem;
  font-family:var(--ff-regular);
 

}
/* utilty classes */
.flex{
  display: flex;
  
}

img{
  margin-right: 0.5rem;
}


.card {
  background-color: var(--clr-nuetral-card-background);
  max-width: 350px;
  display: grid;
  padding: 1.5rem;
  border-radius: 1rem;

}

.card__top{

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.75rem;
  
}
.card__top > img{
  border-radius: 0.5rem;
}
h2{
  font-weight: var(--fw-bold);
  color: var(--clr-nuetral-font-secondary);
  font-size: 1.25rem;

}
p{
  font-weight: var(--fw-light);
}

.card__top-info{
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px var(--clr-nuetral-card-line);
}
.card__top__info-value{
  padding-bottom: 1rem;
  color: var(--clr-primary-hover);
  font-weight: var(--fw-bold);
}





.card__top-description > img{
  width: 11px;
  height: 18px;
}

.clock{
  margin-top: 0.25rem;
  height:17px;
  
}

.avatar{
  max-width: 30px;
  border: solid 2px var(--clr-nuetral-font-secondary);
  border-radius: 50%;
}

.name{
  color: var(--clr-nuetral-font-secondary);
  margin-left: 0.5rem;
}

